.btn {
    padding: 0.5em 1.5em;
    color: whitesmoke !important;
    max-width: 15em;
    background-color: #1b71c8;
    border-radius: 0.4em;
    border: none;
    margin: 0.5em 1.5em;
    cursor: pointer;
    font-weight: 600 !important;
}

.lupa{
    background-color: #1b71c8 !important;

}