.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

.navbar-collapse{
    margin-left: 1rem;
}

.lupa {
    width: auto;
    margin: 0 !important;
}

.carrito {
    position: static;
    top: 0;
    right: 0;
    display: flex;
    font-size: x-large;
}

@media (min-width: 240px) {
    .d-flex {
        width: 40%;
    }
}

